@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Inter', sans-serif;
}


[data-theme="dark"] #about {
  background-color: #0f172a; /* slate-900 */
}
[data-theme="dark"] #projects {
  background-color: #0f172a; /* slate-900 */
}
[data-theme="dark"] .card-Paragraph {
  color: #d1d5db;
}
[data-theme="dark"] .card-bg {
  background-color: #323946;
}
[data-theme="dark"] .form-bg {
  background-color: #1f2937;
}
[data-theme="dark"] .input-bg {
  background-color: #374151;
}
[data-theme="light"] .input-bg {
  background-color: #72afe8;
}
[data-theme="dark"] footer {
  background-color: #0f172a;
}

/* 🔹 Smooth yellow → navy blue glowing border */
@keyframes yellow-navy-gradient-glow {
  0% {
    box-shadow: 2px 2px 2px 1px #facc15, 0 0 2px 1px #1e3a8a;
  }
  25% {
    box-shadow: 2px 2px 4px 1px #facc15, 1px 1px 4px 1px #1e3a8a;
  }
  50% {
    box-shadow: 0 0 6px 2px #facc15, 0 0 6px 2px #1e3a8a;
  }
  75% {
    box-shadow: -2px -2px 4px 1px #facc15, -1px -1px 4px 1px #1e3a8a;
  }
  100% {
    box-shadow: 2px 2px 2px 1px #facc15, 0 0 2px 1px #1e3a8a;
  }
}

/* Reusable class for image */
.thin-yellow-glow {
  animation: yellow-navy-gradient-glow 2s linear infinite;
  border-radius: 16px; /* match image rounded corners */
}
